@media only screen and (max-width: 980px){
    #footer{
        display: none;
    }
    #contain{
        display: block;
        height:  calc(100% - 80px);
        min-height: calc(800px - 80px);
    }
    #ph_footer{
        display: block;
        height: 80px;
        background-color: #363636;
        text-align: center;
    }
    #ph_footer p{
        line-height: 80px;
        color: #b0b0b0;
    }
    #ph_footer p a{
        color: #b0b0b0;
    }
    #ph_footer p a::after{
        content: 'join us!';
        color: #5ce7bb;
        font-size: 0.1em;
        position: relative;
        left: 10px;
        top: -8px;
    }
}
@media only screen and (min-width: 981px) {
#ph_footer{
    display: none;
}
#footer{
    width: 100%;
    min-width:1280px;
    position: relative;
    bottom: -216px;
    height: 9.8%;;
    min-height: 80px;
    background-color: #363636;
    font-size: 0.75em;
}
#sub_footer{
    height: 80px;
    width: 1010px;
    margin: 0 auto;
}
.footer_inner_wrapper{
    display: inline-block;

}
#message{
    color: #b0b0b0;
    width: 285px;
    transform: translateY(70%);
}
#blank{
    color: #b0b0b0;
    font-size: 1em;
    width: 450px;
    transform: translateY(70%);
    text-align: center;

}
#blank span{
    line-height: 2em;
    position: relative;
    top: -10px;


}
#blank img{
    height: 32px;;
}
#together{
    transform: translateY(70%);
    float: right;

}
#together a{
    position: relative;
    top: -3px;
    font-size: 1em;
    color: #b0b0b0;
    line-height: 30px;
    float: left;
    transform: translateY(40%);
    margin-right: 20px;
}
.icon{
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    position: relative;
    top: 25px;
}
.icon img{
    width: 30px;
    transform: translateY(-50%);
}
.i_mid{
    margin: 0 20px;
}
.qr{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: -100px;
    left: 90px;
    display: none;
}
.qr img{
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

}