/* 手机适配 */
@media only screen and (max-width: 980px) {
    #section{
        display: none;
    }
    .ph_cardwrapper{
        width: 400%;
    }
    .phone_section{
        margin: 0 auto;
        width: 94%;
        height: 380px;
        overflow: auto;
    }
    .phone_card{
        height: 340px;
        width: 260px;
        float:left;
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 6px #fff;
        text-align: center;
        background-color: #fff; 
    }
    .mid{
        margin: 0 20px;
    }
    .ph_link{
        margin-top: 40px;
    }
    .ph_link li{
        text-align: center;
        margin-top: 16px;
    }
    .ph_link li a{
        font-size: 1em;
        color: #a5a1a1;
    }
    .vpn{
        margin-left: 50%;
        position: relative;
        left: -60px;
    }
    .vpn::after{
        height: 15px;
        content:"vpn";
        line-height: 15px;
        width: 28px;
        display: inline-block;
        color: #FFF;
        position: relative;
        top: -8px;
        background-color: #5ce7bb;
        border-radius: 18px; 
    }
}
@media only screen and (min-width: 981px) {
.phone_section{
    display: none;
}
#ph_colleg-wrapper{
    display: none;
}
#section{
    height: 420px; /* width: 1280px; */ position: relative;
    text-align: center;
    min-width: 1280px;
}
#card_wrapper{
    display: inline-block;
    height: 420px;
}
.card{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px #fff;
    height: 420px;
    width: 280px;
    float: left;
    text-align: center;
}
.mid{
    margin:  0 30px 0px 30px;
}
/* 卡片插画 */
.png{
    position: relative;
    display: block;
    top: 94px;
    left: 43px;
}
.card::after{
    font-size: 26px;
    color: #000000;
    position: absolute;
    top: 345px;
    margin-left: 90px;
    display: block;
}
.one::after{
    content: "快速通道";
}
.two::after{
    content: "情系矿大";
}
.three::after{
    content: "官方链接";
}
.link{
    display: none;
    position: relative;
    top: -100px;
}
.link li{
    text-align: center;
    margin-top: 16px;
}
.link li a{
    font-size: 1em;
    color: #a5a1a1;
}
.vpn{
    margin-left: 50%;
    position: relative;
    left: -60px;
}
.vpn::after{
    height: 15px;
    content:"vpn";
    line-height: 15px;
    width: 28px;
    display: inline-block;

    color: #FFF;
    position: relative;
    top: -8px;
    background-color: #5ce7bb;
    border-radius: 18px; 
}
}